<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../style/css-reset.css" />
    <link rel="stylesheet" href="../style/faeryn-style.css" />
    <title>Spire | Faeryn | Blog</title>
    <link rel="icon" href="../media/favicon.png" />
  </head>
  <body>
    <header>
      <a href="../index.html">Faeryn</a>
    </header>
    <nav>
      <ul>
        <li><a href="../backstory.html">Backstory</a></li>
        <li><a href="../relationships.html">Relationships</a></li>
        <li><a href="../character-sheet.html">Character Sheet</a></li>
        <li><a href="../blog.html">Blog</a></li>
        <li><a href="../../index.html">Main Site</a></li>
      </ul>
    </nav>
    <main>
      <article>
        <!--Parts that are meant to be edited are preceeded by ||-->
        <header class="blog-header">
          <h1>|| TITLE</h1>
          <time datetime="2024-08-08">|| SESSION DATE</time>
        </header>
        <div class="blog-links">
          <a href="|| PREVIOUS POST">Previous Post</a>
          <a href="|| NEXT POST">Next Post</a>
        </div>
      </article>
    </main>
    <footer>
      <h2>Credits</h2>
      <ul>
        <li>
          <a href="https://www.dafont.com/diamond-sparkling.font"
            >Header Font</a
          >
        </li>
        <li>
          <a
            href="https://unsplash.com/photos/quarter-moon-over-clouds-CUd2VkkpI7U"
            >Hero Image</a
          >
        </li>
        <li><a href="https://www.freepik.com/icon/moon_8381944">Favicon</a></li>
      </ul>
    </footer>
  </body>
</html>
