---
layout: article
title: Changelog | Into to the void
stylesheets: /assets/styles/changelog.css
start: /_includes/changelog-toc.html
---

<header>
  <h1>Updates</h1>
</header>
{% for change in site.data.changelog %}
<section>
  <h2>
    <time datetime="{{change.date}}" id="{{change.date}}"
      >{{ change.date | date_to_long_string: "ordinal", "US" }}</time
    >
  </h2>
  {% if change.note %}
  <p>{{ change.note }}</p>
  {% endif %}
  <ul>
    {% for item in change.changes %}
    <li>{{item | markdownify}}</li>
    {% endfor %}
  </ul>
</section>
{% endfor %}
