---
layout: default
title: Welcome to The Void
stylesheets: /assets/styles/index.css
---

<header>
  <h1>Welcome to the Void</h1>
  <p>Hiya! Welcome to my little corner of the internet.</p>
</header>
<figure>
  <img
    src="assets/images/profile-pic.png"
    alt="Void's profile picture. A drawing of a half elf with short black hair. The agender and gay man pride flags are in the background."
    width="300"
    height="300"
  />
  <figcaption id="pfp-caption">
    Made with
    <a href="https://picrew.me/en/image_maker/644129"
      >makowka character maker 2</a
    >
    on Picrew
  </figcaption>
</figure>
<div>
  <p>
    I'm studying to be a web developer, and this is my hub for all of my little
    projects. There might be some of my writing here someday, if I ever manage
    to write something I think is worth sharing.
  </p>
  <p>
    Feel free to take a look around. It's pretty empty now, but there will be
    more stuff here someday. Maybe.
  </p>
</div>
<section id="buttons">
  <h2>Buttons</h2>
  <img
    src="assets/images/banners/internetprivacy.gif"
    alt="internet privacy now"
  />
  <img
    src="assets/images/banners/privacy-is-a-hr.gif"
    alt="privacy is a human right"
  />
  <img src="assets/images/banners/ublock-now.png" alt="ublock origin now" />
</section>
<aside id="updates">
  <h2>Updates</h2>
  <a href="changelog.html">See all updates</a>
  <dl>
    {% assign preview_items = site.data.changelog | slice: 0, 4 %} {% for change
    in preview_items %}
    <dt>
      <time datetime="{{change.date}}"
        >{{ change.date | date_to_long_string: "ordinal", "US" }}</time
      >
    </dt>
    {% if change.note %}
    <dd>{{ change.note }}</dd>
    {% endif %} {% for item in change.changes %}
    <dd>{{ item | markdownify }}</dd>
    {% endfor %} {% endfor %}
  </dl>
</aside>
