<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Void's Home</title>
    <link rel="icon" href="media/favicon.png" />
    <!-- <link rel="stylesheet" href="css-reset.css" /> -->
    <!-- <link rel="stylesheet" href="style.css" /> -->
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="index.html">
            <img src="media/favicon.png" alt="index" />The Void</a
          >
        </li>
        <li><a href="links.html">Links</a></li>
        <li><a href="projects.html">Projects</a></li>
      </ul>
    </nav>
    <div>
      <header></header>
      <main>
        <h1>Welcome to the Void</h1>
        <p>Hiya! Welcome to my little corner of the internet.</p>
        <p>
          I'm studying to be a web developer, and this is my hub for all of my
          little projects. There might be some of my writing here someday, if I
          ever manage to write something I think is worth sharing.
        </p>
        <p>
          Feel free to take a look around. It's pretty empty now, but there will
          be more stuff here someday. Maybe.
        </p>
      </main>
    </div>
    <footer>
      <p>Site by Nobody's Ghost</p>
      <a href="https://neocities.org/site/nobodys-ghost">Neocities</a><br />
      <a href="changelog.html">Changelog</a>
      <h2>Credits</h2>
      <ul>
        <li>
          <a
            href="https://unsplash.com/photos/blue-and-green-abstract-painting-pfX-GsJMtDY"
            >Header Image</a
          >
        </li>
        <li>
          <a
            href="https://www.freepik.com/icon/planet_10221049#fromView=resource_detail&position=13"
            >Favicon</a
          >
        </li>
      </ul>
    </footer>
  </body>
</html>
