/* Comments re: file structure should start with || for easier navigation */
/* || Imports */
@font-face {
  font-family: "diamond";
  src: url(../../fonts/diamond-sparkling/Diamond-Sparkling.otf)
      format("opentype"),
    url(../../fonts/diamond-sparkling/Diamond-Sparkling.woff) format("woff");
  font-style: normal;
}

@font-face {
  font-family: "diamond";
  src: url(../../fonts/diamond-sparkling/Diamond-Sparkling-Italic.otf)
      format("opentype"),
    url(../../fonts/diamond-sparkling/Diamond-Sparkling-Italic.woff)
      format("woff");
  font-style: italic;
}

/* || General Styles */
html {
  box-sizing: border-box; /* use border box sizing */
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* inherit border box sizing */
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* flex allows footer to sit at bottom of page without messing up layout */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

/* || General Typography */
h1,
h2,
h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 1lh 0lh 0.5lh;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  margin: 0.5lh 0lh;
  line-height: 1.125;
}

a {
  color: #254b68;
  font-weight: bold;
}

a:hover,
a:active {
  color: #d37723;
}

em {
  font-style: italic;
}

i {
  font-style: italic;
}

time {
  font-style: italic;
}

thead {
  background-color: #2974ae;
  color: #fff;
  padding: 0.25lh;
}

th,
td {
  padding: 0.25lh;
}

/* || list styles */
ul,
ol {
  margin: 0.5lh 0lh;
}

li {
  margin: 0.25lh 0;
}

/* || Layout */
nav {
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* || Components */
/* Page Header */
body > header {
  width: 100%;
  height: 25vh;
  background-image: url(../media/hero.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

body > header a {
  font-family: "diamond", Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 4em;
  color: white;
  position: absolute;
  bottom: 0;
  margin: 0.25lh;
  text-decoration: none;
}

body > header a:hover {
  color: #254b68;
}

/* Site Navigation */
/* no other nav elements should be descended directly from <body> */
body > nav {
  background-color: #2974ae;
  text-align: center;
}

body > nav li {
  display: inline-block;
  padding: 0.5lh 1em;
  margin: 0;
  font-style: italic;
  color: #fff;
}

body > nav li a {
  text-decoration: none;
  color: inherit;
}

body > nav li a:focus,
body > nav li a:hover {
  color: #254b68;
}

body > nav li a.current-page {
  text-decoration: underline dotted;
}

/* site footer */
body > footer {
  width: 100%;
  padding: 1lh;
  border-top: 2px solid #2974ae;
  margin-top: 2em;
}

/* article */
main > article {
  margin: 8px;
}

/* in page navigation */
.in-page-nav {
  background-color: #d0deeb;
  color: #254b68;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flow-root;
}

.in-page-nav nav {
  background-color: inherit;
}

.in-page-nav li {
  margin: 1rlh 0.5rlh;
}

.in-page-nav nav li a {
  color: inherit;
  text-decoration: underline dotted;
}

.in-page-nav summary {
  padding: 0.5lh;
  font-size: 1.25em;
}

/* || Relationships */
.relationship {
  font-style: italic;
}

.pronouns {
  font-weight: bold;
}

/* || Blog components */
.blog header {
  padding-bottom: .5em;
  border-bottom: 1px solid #254b68;
}

article .blog header {
  border-bottom: none;
}

.blog header a {
  text-decoration: underline dotted;
}

.blog header time {
  font-style: italic;
}

.blog footer a {
  margin: 0.25rlh 0.5rlh;
  display: inline-block;
}

.blog footer a:first-child {
  margin-inline-start: 0px;
}

/* || Larger Screens */
@media (min-width: 45rem) {
  html {
    /* background */
    background: rgba(167, 198, 227, 1);
    background: linear-gradient(
      -45deg,
      rgba(208, 222, 235, 1) 5%,
      rgba(167, 198, 227, 1) 5%,
      rgba(167, 198, 227, 1) 50%,
      rgba(208, 222, 235, 1) 50%,
      rgba(208, 222, 235, 1) 55%,
      rgba(167, 198, 227, 1) 55%
    );
    background-size: 32px 32px;
    background-repeat: repeat;
  }

  body {
    width: 45rem;
    gap: 2em;
    margin: 0px auto;
  }

  body > * {
    outline: 6px double #fff;
  }

  main > * {
    outline: 6px double #fff;
  }

  /* || Layout */
  body > header {
    height: 25vh;
    margin-top: 32px;
  }

  main {
    outline: unset;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  main > article {
    margin: unset;
    background-color: #fff;
    padding: 1lh;
    flex: 4;
  }

  /* || Footer */
  body > footer {
    margin-top: auto;
    background-color: #2974ae;
    padding: 0.5lh;
  }

  body > footer h2 {
    /* Half the regular h2 margin-top */
    margin-top: 0.25rem;
  }

  body > footer a {
    color: #fff;
  }
}

@media (min-width: 55rem) {
  body {
    width: 55rem;
  }
  
  main {
    flex-direction: row-reverse;
  }

  .in-page-nav {
    height: fit-content;
    position: sticky;
    float: right;
    /* same as body { gap: ... } */
    top: 32px;
    flex: 1;
  }

  .in-page-nav > details {
    width: 100%;
  }

  .in-page-nav > details[open] > summary {
    display: none;
  }
}
