/* Comments re: file structure should start with || for easier navigation */
/* || Imports */
@font-face {
  font-family: "diamond";
  src: url(../../fonts/diamond-sparkling/Diamond-Sparkling.otf)
      format("opentype"),
    url(../../fonts/diamond-sparkling/Diamond-Sparkling.woff) format("woff");
  font-style: normal;
}

@font-face {
  font-family: "diamond";
  src: url(../../fonts/diamond-sparkling/Diamond-Sparkling-Italic.otf)
      format("opentype"),
    url(../../fonts/diamond-sparkling/Diamond-Sparkling-Italic.woff)
      format("woff");
  font-style: italic;
}

/* || General Styles */
html {
  box-sizing: border-box; /* use border box sizing */
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* inherit border box sizing */
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* flex allows footer to sit at bottom of page without messing up layout */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

/* || General Typography */
h1,
h2,
h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0.5rlh;
  margin-top: 1lh;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  margin: 0.5rlh;
  line-height: 1.125;
}

a {
  color: #254b68;
  font-weight: bold;
}

a:hover,
a:active {
  color: #d37723;
}

em {
  font-style: italic;
}

time {
  font-style: italic;
}

thead {
  background-color: #2974ae;
  color: #fff;
  padding: 0.25lh;
}

th,
td {
  padding: 0.25lh;
}

/* || list styles */

ul,
ol {
  margin: 0.5rlh;
}

li {
  margin: 0.25rlh 0;
}

/* || Layout */
article {
  margin: 8px;
}

/* || Main Navigation */
nav {
  background-color: #2974ae;
  text-align: center;
}

nav li {
  display: inline-block;
  padding: 0.5lh 1em;
  margin: 0;
}

nav li a {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  text-decoration: none;
  color: #fff;
  font-size: 2em;
}

nav li a:hover {
  color: #254b68;
}

nav li a.current-page {
  text-decoration: underline dotted;
}

/* || Footer */
footer {
  width: 100%;
  padding: 1lh;
  border-top: 2px solid #2974ae;
  margin-top: 2em;
}

footer ul {
  margin: 0.5rlh;
}

/* || Components */

/* Page Header */
body > header {
  width: 100%;
  height: 25vh;
  background-image: url(../media/hero.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

body > header a {
  font-family: "diamond", Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 4em;
  color: white;
  position: absolute;
  bottom: 0;
  margin: 0.25lh;
  text-decoration: none;
}

body > header a:hover {
  color: #254b68;
}

/* in page navigation */
.in-page-nav {
  background-color: #d0deeb;
  font-style: normal;
  color: #254b68;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.in-page-nav nav {
  background-color: inherit;
  text-align: start;
}

.in-page-nav nav li {
  display: block;
}

.in-page-nav nav li a {
  color: inherit;
  font-style: inherit;
  text-decoration: underline dotted;
}

.in-page-nav summary {
  padding: 0.5lh;
  font-size: 1.25em;
}

/* || Relationships */

.relationship {
  font-style: italic;
}

.pronouns {
  font-weight: bold;
}

/* || Blog components */
section > a {
  margin: 0.5rlh;
}

.blog-header time {
  margin: 0 0.5rlh;
}

.blog-links a {
  margin: .25rlh .5rlh;
  display: inline-block;
}

/* || Larger Screens */
@media (min-width: 992px) {
  html {
    /* background */
    background: rgb(208, 222, 235);
    background: linear-gradient(
      -45deg,
      rgba(208, 222, 235, 1) 5%,
      rgba(167, 198, 227, 1) 5%,
      rgba(167, 198, 227, 1) 50%,
      rgba(208, 222, 235, 1) 50%,
      rgba(208, 222, 235, 1) 55%,
      rgba(167, 198, 227, 1) 55%
    );
    background-size: 32px 32px;
    background-repeat: repeat;

    font-size: 16px;
  }

  body {
    /* width: 992 - 2 * outline thickness */
    width: 980px;
    gap: 32px;
    margin: 0px auto;
  }

  body > * {
    outline: 6px double #fff;
  }

  main > * {
    outline: 6px double #fff;
  }

  /* || Layout */
  nav li a {
    font-size: 1rem;
  }

  body > header {
    height: 25vh;
    margin-top: 32px;
  }

  article {
    background-color: #fff;
    padding: 1lh;
    margin: 0px;
    flex: 4;
  }

  main {
    outline: unset;
    display: flex;
    flex-direction: row-reverse;
    gap: 32px;
  }

  aside {
    height: fit-content;
    position: sticky;
    /* same as body { gap: ... } */
    top: 32px;
    flex: 1;
  }

  aside > details {
    float: right;
    display: block;
    width: 100%;
  }

  aside > details[open] > summary {
    display: none;
  }

  /* || Footer */
  footer {
    margin-top: auto;
    background-color: #2974ae;
    padding: 0.5lh;
  }

  footer > h2 {
    /* Half the regular h2 margin-top */
    margin-top: 0.25rem;
  }

  footer a {
    color: #fff;
  }

  .in-page-nav {
    display: unset;
  }
}
