/* Comments re: file structure should start with || for easier navigation */
/* || Imports */
@font-face {
  font-family: "diamond";
  src: url(../../fonts/diamond-sparkling/Diamond-Sparkling.otf)
      format("opentype"),
    url(../../fonts/diamond-sparkling/Diamond-Sparkling.woff) format("woff");
  font-style: normal;
}

@font-face {
  font-family: "diamond";
  src: url(../../fonts/diamond-sparkling/Diamond-Sparkling-Italic.otf)
      format("opentype"),
    url(../../fonts/diamond-sparkling/Diamond-Sparkling-Italic.woff)
      format("woff");
  font-style: italic;
}

/* || General Styles */
html {
  box-sizing: border-box; /* use border box sizing */
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* inherit border box sizing */
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* flex allows footer to sit at bottom of page without messing up layout */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

/* || General Typography */
h1,
h2,
h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0.5rem;
  margin-top: 1lh;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

p {
  margin: 0.5rlh;
}

a {
  color: #254b68;
  font-weight: bold;
}

a:hover,
a:active {
  color: #d37723;
}

/* || Layout */
main {
  margin: 8px;
}

/* || Header */
header {
  width: 100%;
  height: 25vh;
  background-image: url(../media/hero.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

header a {
  font-family: "diamond", Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 4em;
  color: white;
  position: absolute;
  bottom: 0;
  margin: 0.25lh;
  text-decoration: none;
}

header a:hover {
  color: #254b68;
}

/* || Main Navigation */
nav {
  background-color: #2974ae;
  text-align: center;
}

nav li {
  display: inline-block;
  padding: 0.5lh 1em;
}

nav li a {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  text-decoration: none;
  color: #fff;
}

nav li a:hover {
  color: #254b68;
}

nav li a.current-page {
  text-decoration: underline dotted;
}

/* || Footer */
footer {
  width: 100%;
  padding: 1em;
  border-top: 2px solid #2974ae;
  margin-top: 2em;
}

footer ul {
  margin: 0.5rlh;
}

/* || Components */

/* in page navigation */
.in-page-nav {
  background-color: #d0deeb;
  font-style: normal;
  color: #254b68;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.in-page-nav nav {
  background-color: inherit;
  text-align: start;
}

.in-page-nav nav li {
  display: block;
}

.in-page-nav nav li a {
  color: inherit;
  font-style: inherit;
  text-decoration: underline dotted;
}

.in-page-nav summary {
  padding: .5lh;
  font-size: 1.25em;
}

/* || Larger Screens */
@media (min-width: 992px) {
  html {
    background: rgb(208, 222, 235);
    background: linear-gradient(
      -45deg,
      rgba(208, 222, 235, 1) 5%,
      rgba(167, 198, 227, 1) 5%,
      rgba(167, 198, 227, 1) 50%,
      rgba(208, 222, 235, 1) 50%,
      rgba(208, 222, 235, 1) 55%,
      rgba(167, 198, 227, 1) 55%
    );
    background-size: 32px 32px;
    background-repeat: repeat;
  }

  header {
    height: 30vh;
  }

  main {
    width: 992px;
    align-self: center;
  }

  /* || Footer */
  footer {
    margin-top: auto;
    background-color: #2974ae;
  }

  .in-page-nav {
    display: unset;
  }
}
